<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/yamm3/yamm/yamm.css" />
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="transnvFrontendApp">
    <!--[if lte IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
        <div class="navbar navbar-default yamm navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/" style="width: 90px;"><img class="img-responsive" src="images/logo.png" alt="Transportes N&V SAC"></a>
                </div>
                <div class="collapse navbar-collapse" id="js-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#/">Home</a></li>
                        <li class="dropdown" uib-dropdown auto-close="outsideClick">
                            <a class="dropdown-toggle" uib-dropdown-toggle toggle-event="mouseover" href="#">Nosotros <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>¿Quienes Somos?</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                  </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Historia</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" uib-dropdown auto-close="outsideClick">
                            <a class="dropdown-toggle" uib-dropdown-toggle toggle-event="mouseover" href="#">Servicios <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Servicio 1</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Servicio 2</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Servicio 3</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" uib-dropdown auto-close="outsideClick">
                            <a class="dropdown-toggle" uib-dropdown-toggle toggle-event="mouseover" href="#">Noticias <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Noticia 1</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Noticia 2</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Noticia 3</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Más Noticias</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" uib-dropdown auto-close="outsideClick">
                            <a class="dropdown-toggle" uib-dropdown-toggle toggle-event="mouseover" href="#">Clientes <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-3">asd</div>
                                            <div class="col-sm-9">dasdsa</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" uib-dropdown auto-close="outsideClick">
                            <a class="dropdown-toggle" uib-dropdown-toggle toggle-event="mouseover" href="#">Contáctanos <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Directorio Telefónico</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="thumbnail">
                                                    <img src="..." alt="...">
                                                    <div class="caption">
                                                      <h3>Localización</h3>
                                                      <p>...</p>
                                                      <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="slide in slides track by slide.index" index="slide.index">
            <img class="img-slider" ng-src="{{ path_location}}/img/slides/{{ slide.url }}">
            <div class="carousel-caption animated fadeInLeft" ng-if="slide.titulo !== null && slide.titulo !== undefined && slide.titulo !== ''"
                ng-style="{'background': slide.color_bg, 'color': slide.color }">
                <h1>{{slide.titulo}}</h1>
                <p>{{slide.contenido}}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-include="'views/main.html'" ng-controller="MainCtrl"></div>
    </div>

    <div class="footer">
        <div class="container">
            <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
        (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
        r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
        }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-mega-menu/src/js/angular-mega-menu.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngprogress/build/ngprogress.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->
</body>
</html>
