<div ng-if="imagen !== 'img/cabeceras/null'">
    <picture picturefill>
        <source media='(max-width: 767px)' ng-attr-srcset="{{ getCabeceraSrc(cabecera, '_small') }}">
        <source media='(min-width: 767px)' ng-attr-srcset="{{ getCabeceraSrc(cabecera, '_large') }}">
        <img class="img-responsive" alt="Directorio Telefònico" style="width: 100%" ng-src="{{ getCabeceraSrc(cabecera, '_large') }}">
    </picture>
</div>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Nosotros</a></li>
    <li class="active">Directorio Telefónico</li>
</ol>
<div class="container">
    <h2>Directorio Telefónico</h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr ng-repeat="contacto in contactos">
                    <td style="width: 10%;"><img class="img-responsive" ng-src="{{ path_location + 'img/contactos/' +  contacto.imagen }}" alt="{{ contacto.nombre_completo }}"></td>
                    <td style="width: 70%;"><h3>{{ contacto.nombre_completo }}</h3></td>
                    <td style="width: 20%;"><h3><span class="glyphicon glyphicon-phone"></span><a href="tel:{{ contacto.telefono }}">{{ contacto.telefono }}</a></h3></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>