<div uib-carousel interval="myInterval" no-wrap="noWrapSlides" active="0">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slides.indexOf(slide)">
        <img class="img-slider" ng-src="{{ slide.url }}">
    </div>
</div>
<div class="desplazamiento">
    <a href="#empresa">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="empresa" class="container text-justify" zum-waypoint="waypoints" down="wp1.on" up="wp1.off" offset="75%">
    <h2 class="header-section wp1" ng-class="{'animated fadeInLeft': waypoints.wp1.on}">Transportes N&V SAC</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget luctus enim, sit amet imperdiet enim. Integer sed elementum nisi. Etiam interdum, mauris in ultrices maximus, nunc magna rhoncus nisi, eu sagittis sem leo quis felis. Quisque congue viverra diam a lobortis. Nullam vel leo urna. Donec tempor vitae risus ut iaculis. Ut consectetur, metus sit amet dignissim hendrerit, mauris felis varius ante, et ultrices elit nibh quis libero. Fusce efficitur nisl non augue commodo, sed ultrices orci tempor. Nullam eleifend lorem a justo vehicula cursus. Donec feugiat malesuada porta. Pellentesque sed metus dui. Donec id velit ac ligula ultrices vestibulum at eget lacus.</p>
    <p>Nam volutpat sed sapien vitae accumsan. Nullam accumsan varius pretium. Fusce finibus sagittis vestibulum. Vivamus quis tempus magna. Aenean dictum iaculis neque, at fringilla mauris vehicula ac. In hac habitasse platea dictumst. Quisque in porta enim, id imperdiet lorem. Praesent in tellus ac tellus mattis tincidunt. Pellentesque elementum pulvinar vehicula. Nulla cursus, augue id volutpat convallis, est lorem euismod augue, et ultrices lorem turpis sed eros.</p>
</div>
<div class="desplazamiento">
    <a href="#servicios">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="servicios" class="container" zum-waypoint="waypoints" down="wp2.on" up="wp2.off" offset="75%">
    <h2 class="header-section wp2" ng-class="{'animated fadeInLeft': waypoints.wp2.on}">Servicios</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="http://via.placeholder.com/350x150" alt="Servicio 1">
                <div class="caption">
                    <h3>Servicio 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget luctus enim, sit amet imperdiet enim. Integer sed elementum nisi. Etiam interdum, mauris in ultrices maximus, nunc magna rhoncus nisi, eu sagittis sem leo quis felis. Quisque congue viverra diam a lobortis. Nullam vel leo urna. Donec tempor vitae risus ut iaculis. Ut consectetur, metus sit amet dignissim hendrerit, mauris felis varius ante, et ultrices elit nibh quis libero. Fusce efficitur nisl non augue commodo, sed ultrices orci tempor. Nullam eleifend lorem a justo vehicula cursus. Donec feugiat malesuada porta. Pellentesque sed metus dui. Donec id velit ac ligula ultrices vestibulum at eget lacus.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Ver más</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="http://via.placeholder.com/350x150" alt="Servicio 2">
                <div class="caption">
                    <h3>Servicio 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget luctus enim, sit amet imperdiet enim. Integer sed elementum nisi. Etiam interdum, mauris in ultrices maximus, nunc magna rhoncus nisi, eu sagittis sem leo quis felis. Quisque congue viverra diam a lobortis. Nullam vel leo urna. Donec tempor vitae risus ut iaculis. Ut consectetur, metus sit amet dignissim hendrerit, mauris felis varius ante, et ultrices elit nibh quis libero. Fusce efficitur nisl non augue commodo, sed ultrices orci tempor. Nullam eleifend lorem a justo vehicula cursus. Donec feugiat malesuada porta. Pellentesque sed metus dui. Donec id velit ac ligula ultrices vestibulum at eget lacus.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Ver más</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="desplazamiento">
    <a href="#ubicacion">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="ubicacion" class="container" zum-waypoint="waypoints" down="wp3.on" up="wp3.off" offset="75%">
    <h2 class="header-section wp3" ng-class="{'animated fadeInLeft': waypoints.wp3.on}">Ubícanos</h2>
    <div class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.9087497794453!2d-79.03285558567366!3d-8.110773594161044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d9caab9305f%3A0xa6912678cbf66258!2sJir%C3%B3n+Diego+De+Almagro+270%2C+Trujillo+13001!5e0!3m2!1ses!2spe!4v1498591278442" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<div class="desplazamiento">
    <a href="#noticias">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="noticias" class="container" zum-waypoint="waypoints" down="wp4.on" up="wp4.off" offset="75%">
    <h2 class="header-section" ng-class="{'animated fadeInLeft': waypoints.wp4.on}">Noticias</h2>
    <slick class="row slider single-item" arrows="false" autoplay="true" autoplaySpeed="5000" 
        current-index="index" responsive="breakpoints" slides-to-show="3" slides-to-scroll="1"
        speed="900">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Noticia 1">
                </div>
                <div class="col-sm-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Noticia 1</p>
                    <a class="btn-link" href="#">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Noticia 1">
                </div>
                <div class="col-sm-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Noticia 2</p>
                    <a class="btn-link" href="#">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Noticia 1">
                </div>
                <div class="col-sm-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Noticia 3</p>
                    <a class="btn-link" href="#">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Noticia 1">
                </div>
                <div class="col-sm-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Noticia 4</p>
                    <a class="btn-link" href="#">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Noticia 1">
                </div>
                <div class="col-sm-7">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Noticia 5</p>
                    <a class="btn-link" href="#">Ver más</a>
                </div>
            </div>
        </div>
    </slick>
</div>
<div id="clientes" class="container" zum-waypoint="waypoints" down="wp5.on" up="wp5.off" offset="75%">
    <h2 class="header-section" ng-class="{'animated fadeInLeft': waypoints.wp5.on}">Clientes</h2>
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Cliente1">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Cliente2">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Cliente3">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Cliente4">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Cliente5">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Cliente6">
        </div>
        <div class="col-sm-3">
            <img class="img-responsive" src="http://via.placeholder.com/350x150" alt="Cliente7">
        </div>
    </div>
</div>
<br>
<script>
$('a[href]').click(function() {
    if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top - 40
            }, 2000);
            return false;
        }
    }
});
</script>