<div uib-carousel interval="myInterval" no-wrap="noWrapSlides" active="0">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slides.indexOf(slide)">
        <picture picturefill>
            <source media='(max-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_small') }}">
            <source media='(min-width: 767px)' ng-attr-srcset="{{ getSlideSrc(slide, '_large') }}">
            <img class="img-slider" ng-src="{{ getSlideSrc(slide, '_large') }}">
        </picture>
    </div>
</div>
<div class="desplazamiento">
    <a href="#empresa">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="empresa" class="container text-justify" zum-waypoint="waypoints" down="wp1.on" up="wp1.off" offset="75%">
    <h2 class="header-section wp1" ng-class="{'animated fadeInLeft': waypoints.wp1.on}">Transportes N&V SAC</h2>
    <div ng-bind-html="infos.transnv_resumen"></div>
</div>
<div class="desplazamiento">
    <a href="#servicios">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="servicios" class="container" zum-waypoint="waypoints" down="wp2.on" up="wp2.off" offset="75%">
    <h2 class="header-section wp2" ng-class="{'animated fadeInLeft': waypoints.wp2.on}">Servicios</h2>
    <div class="row">
        <div class="col-sm-6" ng-repeat="servicio in servicios">
            <div class="thumbnail">
                <!-- Picturefill -->
                <img ng-src="{{ path_location + 'img/servicios/' + servicio.portada }}" alt="{{ servicio.titulo }}">
                <div class="caption">
                    <h3>{{ servicio.titulo }}</h3>
                    <div ng-bind-html="servicio.resumen"></div>
                    <p><a href="#" class="btn btn-primary" role="button">Ver más</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="desplazamiento">
    <a href="#ubicacion">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="ubicacion" class="container" zum-waypoint="waypoints" down="wp3.on" up="wp3.off" offset="75%">
    <h2 class="header-section wp3" ng-class="{'animated fadeInLeft': waypoints.wp3.on}">Ubícanos</h2>
    <div class="text-center">
        <iframe ng-src="{{ ubicacion_url }}" width="600" 
            height="450" 
            frameborder="0" 
            style="border:0" 
            allowfullscreen>
        </iframe>
    </div>
</div>
<div class="desplazamiento">
    <a href="#noticias">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
</div>
<div id="noticias" class="container" zum-waypoint="waypoints" down="wp4.on" up="wp4.off" offset="75%">
    <h2 class="header-section" ng-class="{'animated fadeInLeft': waypoints.wp4.on}">Noticias</h2>
    <slick class="row slider single-item" arrows="false" autoplay="true" autoplaySpeed="5000" 
        current-index="index" responsive="breakpoints" slides-to-show="3" slides-to-scroll="1"
        speed="900">
        <div class="col-sm-4" ng-repeat="noticia in noticias">
            <div class="row">
                <div class="col-sm-5">
                    <!-- Picturefill -->
                    <img class="img-responsive" ng-src="{{ path_location + 'img/noticias/' + noticia.portada }}" alt="{{ noticia.titulo }}">
                </div>
                <div class="col-sm-7">
                    <div ng-bind-html="noticia.resumen"></div>
                    <a class="btn-link" href="#">Ver más</a>
                </div>
            </div>
        </div>
    </slick>
</div>
<div id="clientes" class="container" zum-waypoint="waypoints" down="wp5.on" up="wp5.off" offset="75%">
    <h2 class="header-section" ng-class="{'animated fadeInLeft': waypoints.wp5.on}">Clientes</h2>
    <div class="row">
        <div class="col-sm-3" ng-repeat="cliente in clientes">
            <!-- Picturefill -->
            <img class="img-responsive" ng-src="{{ path_location + 'img/clientes/' + cliente.imagen }}" alt="{{ cliente.razon_social }}">
        </div>
    </div>
</div>
<br>
<script>
$('a[href]').click(function() {
    if (location.pathname.replace(/^\//, '') === this.pathname.replace(/^\//, '') && location.hostname === this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top - 40
            }, 2000);
            return false;
        }
    }
});
</script>