<div ng-if="imagen !== 'img/cabeceras/null'">
    <img class="img-responsive" ng-src="{{ path_location + imagen }}" alt="Ubicación" style="width: 100%" />
</div>
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Nosotros</a></li>
    <li class="active">Ubicación</li>
</ol>
<div class="container">
    <h2>Ubicación</h2>
    <hr>
    <div> 
        <div class="text-center">
            <div ng-bind-html="infos.ubicacion_code"></div>
        </div>
    </div>
</div>
<br>