<img class="img-responsive" src="http://via.placeholder.com/1300x150" alt="transportes">
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Nosotros</a></li>
    <li class="active">Ubicación</li>
</ol>
<div class="container">
    <h2>Ubicación</h2>
    <hr>
    <div> 
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3949.9087497794453!2d-79.03285558567366!3d-8.110773594161044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3d9caab9305f%3A0xa6912678cbf66258!2sJir%C3%B3n+Diego+De+Almagro+270%2C+Trujillo+13001!5e0!3m2!1ses!2spe!4v1498591278442" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<br>